/build/
nbproject/ant-deploy.xml
nbproject/build-impl.xml
nbproject/project.xml
nbproject/project.properties
nbproject/private/private.xml
nbproject/private/private.properties
nbproject/genfiles.properties
build.xml
ExtraCurricular/build/web/WEB-INF/classes/.netbeans_automatic_build
*.MF*.class
*.class
*.MF
ExtraCurricular/nbproject/project.xml
ExtraCurricular/nbproject/private/private.xml
ExtraCurricular/nbproject/build-impl.xml
ExtraCurricular/build/web/META-INF/context.xml
ExtraCurricular/nbproject/ant-deploy.xml
*.smap
ExtraCurricular/nbproject/build-impl.xml~
*.properties
ExtraCurricular/src/java/DAO/DAOLogin.java
/ExtraCurricular/nbproject/private/
/ExtraCurricular/dist/
/ExtraCurricular/build/
ExtraCurricular/nbproject/build-impl.xml~
*.properties
ExtraCurricular/web/META-INF/context.xml
*.jar
*.png
*.csv
*.py
ExtraCurricular/web/media/passe-futebol.mp4
ExtraCurricular/web/media/sonhar-com-robo.jpg
