* {
    box-sizing: border-box;
}

body {
    display: table-cell;

    margin: 0px;
    
    width: 100vw;
    height: 100vh;
    
    vertical-align: middle;
    
    text-align: center;
}

.frame {
    display: inline-block;
    
    margin: 0px auto;
    
    padding: 20px;
    padding-top: 15px;
}

.pagina {
    font-size: 42px;
    font-family: "Segoe UI";
    color: rgb(71, 70, 70);
    line-height: 1;
}

.formulario {
    display: inline-block;
    
    margin-top: 10px;
    
    text-align: left;
}

.campo {
    display: block;
    
    margin-top: 10px;
    
    border-width: 1px;
    border-color: rgb(33, 33, 33);
    border-style: solid;
    
    width: 260px;
    height: 28px;
    
    padding-left: 3px;

    font-size: 16.667px;
    font-family: "Segoe UI";
    color: rgb(85, 85, 85);
    line-height: 1.2;
}

.grupo:not(:first-child) {
    margin-top: 10px;
}

.grupo > label {
    display: block;

    font-size: 19px;
    font-family: "Segoe UI";
    color: rgb(71, 70, 70);
    line-height: 1.2;
}

.grupo > input {
    display: block;

    font-size: 16.667px;
    font-family: "Segoe UI";
    color: rgb(85, 85, 85);
    line-height: 1.2;
}

.botoes {
    margin-top: 10px;
}

.botoes > input {
    border: none;
    
    width: 126px;
    height: 33px;
    
    background-color: rgb(163, 168, 166);
    
    font-size: 21px;
    font-family: "Segoe UI";
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

.botoes > input:not(:first-child) {
    margin-left: 4px;
}

.submeter {
    background-color: rgb(78, 171, 124) !important;    
}